body {
    font-family: Poppins ;
    margin: 0;
    padding: 0;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta según sea necesario */
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 60%; /* Asegúrate de que el input ocupe todo el espacio disponible */
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.user-info .user-name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}



.auth-buttons {
    display: flex;
    flex-direction: column;
}

.auth-buttons button {
    width: 100%; 
    margin-bottom: 10px; 
}
.menu-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}


.menu-button {
    display: flex;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    position:relative; 
}

.menu-button ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    position: center;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    white-space: nowrap; /* Evita que los elementos se envuelvan */
}

.menu-button ul li {
    display: inline-block; /* Muestra los elementos en línea */
    border-right: 1px solid #ddd; /* Borde entre elementos */
}

.menu-button ul li:last-child {
    border-right: none; /* Elimina el borde del último elemento */
}

.menu-button ul li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.menu-button ul li a:hover {
    background-color: #f4f4f4;
}

.menu-button:hover ul {
    display: block;
}
/* Estilos para el menú desplegable */
.account-menu {
    position: relative;
}

/* Estilos para el menú desplegable de la cuenta */
#account-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#account-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Mostrar elementos del menú de forma horizontal */
}

#account-dropdown ul li {
    margin-right: 10px; /* Espacio entre elementos del menú */
}

#account-dropdown ul li:last-child {
    margin-right: 0; /* Eliminar margen derecho del último elemento */
}

#account-dropdown ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

#account-dropdown ul li a:hover {
    background-color: #f4f4f4;
}

.container {
    font-family: Poppins ;
    justify-content: center; /* Centrar contenido horizontalmente */
    text-align: center;
    width: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}

.mensaje-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #333;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Estilos de la sección de comentarios */
#comentarios {
    flex-grow: 1; /* La sección de comentarios ocupará todo el espacio restante vertical */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: column; /* Alinea los comentarios en columna */
    background-color: #e0e0e0;
    padding: 20px;
}

.opinion {
    width: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.opinion p {
    margin-bottom: 10px;
}

.eliminar-opinion {
    background-color: #ccc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.eliminar-opinion:hover {
    background-color: #ccc;
}