body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    height: 110vh;
    box-sizing: border-box;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 20px;
    background-color: #800040;
    border-bottom: 1px solid #76767665;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 1rem;
    color: #fff;
}


.auth-buttons {
    margin-left: 1rem;
    display: flex;
    flex-direction: column; 
}

/*Second Container*/

.submenu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.65rem 20px;
    background-color: #ffffff;
    color: #000000;
    flex-direction: row;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.subfiltros {
    list-style-type: none;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    z-index: 1;
    border-radius: 4px;  
}

.subfiltros li {
    justify-content: center;
    align-items: center; 
}

.subfiltros li:last-child {
    margin-right: 0;
}

.submenu-flex{
    flex: 1;
    box-sizing: border-box;
    display: flex; 
    position: relative; 
    justify-content: center;
    align-items: center;
    
}

.submenu-flex > a {
  border: 2px solid #800000;
  border-radius: 4px;
  padding: 10px;
  background-color: #800000;
  color: white;
}

.submenu{
    display: flex;
    background-color: #800000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    position: relative;
}

.submenu > summary{
    list-style-type: none;
}

.subfiltros {
    list-style-type: none;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 
}

.subfiltros a{
    display: block;
    padding: 10px 20px;
    color: #333; 
    text-decoration: none; 
    text-align: left;
    box-sizing: border-box;
}


.user-menu{
    display: flex;
    align-items: center;
    margin-left:1rem;
}

.info {
    display: flex;
    align-items: center;
    margin:0 1rem;
    font-size: 1rem;
}

.micuenta{
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}

.micuenta > details{
    display: flex;
    background-color: #800000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    position: relative;
}

.micuenta > details summary{
    list-style-type: none;
}

.micuenta > details > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 
}

.micuenta > details > ul a{
    display: block;
    padding: 10px 20px;
    color: #333; 
    text-decoration: none; 
}


.menu-admin{
    margin-left: 1rem;
}

.menu-admin > details{
    display: flex;
    background-color: #800000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    position: relative; 
}

.menu-admin > details summary{
    list-style-type: none;
}

.menu-admin > details > ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 4px; 
}

.menu-admin > details > ul a{
    display: block;
    padding: 10px 20px;
    color: #333; 
    text-decoration: none; 
}

/*Header y estilo del boton administrar*/
.container {
    font-family: Poppins ;
    justify-content: center; /* Centrar contenido horizontalmente */
    text-align: center;
    width: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}
.admin-menu {
    position: relative;
}

#admin-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.admin-menu:hover #admin-dropdown {
    display: block;
}


#admin-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px; /* Ancho del menú desplegable */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.admin-menu:hover #admin-dropdown {
    display: block;
}

#admin-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#admin-dropdown ul li {
    border-bottom: 1px solid #ddd; /* Línea divisoria entre elementos */
}

#admin-dropdown ul li:last-child {
    border-bottom: none; /* Eliminar la línea divisoria del último elemento */
}

#admin-dropdown ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

#admin-dropdown ul li a:hover {
    background-color: #f4f4f4; /* Cambia el color de fondo al pasar el cursor sobre los elementos */
}

/*User Header*/
.user-info {
    display: flex;
    align-items: center;
}

.user-info .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.user-info .user-name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}