body {
    font-family: Poppins ;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta según sea necesario */
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 60%; /* Asegúrate de que el input ocupe todo el espacio disponible */
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.user-info .user-name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}



.auth-buttons {
    display: flex;
    flex-direction: column;
}

.auth-buttons button {
    width: 100%; 
    margin-bottom: 10px; 
}
.menu-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}


.menu-button {
    display: flex;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    position:relative; 
}

.menu-button ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    position: center;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    white-space: nowrap; /* Evita que los elementos se envuelvan */
}

.menu-button ul li {
    display: inline-block; /* Muestra los elementos en línea */
    border-right: 1px solid #ddd; /* Borde entre elementos */
}

.menu-button ul li:last-child {
    border-right: none; /* Elimina el borde del último elemento */
}

.menu-button ul li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.menu-button ul li a:hover {
    background-color: #f4f4f4;
}

.menu-button:hover ul {
    display: block;
}



main {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

.profesor-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.info-block {
    max-width: 70%;
}

.info-item {
    margin-bottom: 10px;
}

.probabilidad {
    max-width: 25%;
    text-align: center;
}

.comentarios {
    width: 35%;
    background-color: #fff;
    margin-bottom: 20px; 
}

.comentarios-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

#comentarios-container {
    max-width: 850px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    position: relative; 
    top: -200px; 
    right: -500px; 
}

#comentarios-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

#comentarios-list {
    list-style-type: none;
    padding: 0;
}

.comentario {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#cargar-mas {
    text-align: center;
    margin-top: 20px;
}

#cargar-mas button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cargar-mas button:hover {
    background-color: #0056b3;
}

/* Estilos para el menú desplegable */
.account-menu {
    position: relative;
}

/* Estilos para el menú desplegable de la cuenta */
#account-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

#account-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Mostrar elementos del menú de forma horizontal */
}

#account-dropdown ul li {
    margin-right: 10px; /* Espacio entre elementos del menú */
}

#account-dropdown ul li:last-child {
    margin-right: 0; /* Eliminar margen derecho del último elemento */
}

#account-dropdown ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

#account-dropdown ul li a:hover {
    background-color: #f4f4f4;
}
